* {
  font-family: "Heebo";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
  transition: 0.4s;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  flex-direction: column;
}
.header-top {
  background-color: #ffa32b;
}
.header-top-area {
  max-width: 1100px;
  padding: 1rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-top-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.header-top-left input {
  width: 250px;
}
.header-top-left i {
  margin-left: -39px;
}
.header-top-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.header-bottom {
  background-color: #000;
}
.header-bottom-area {
  max-width: 1100px;
  padding: 1rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-bottom-left nav ul, .header-bottom-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.header-bottom-left nav li, .header-bottom a {
  color: white;
}

.section {
  background-color: #7a7a7a;
}
.section-area {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  max-width: 1100px;
  padding: 1rem 0;
  margin: 0 auto;
  padding: 2rem;
}
.section-area-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 75%;
  gap: 20px;
}
.section-area-main-card {
  border: 1px solid #d1d1d1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0px;
}
.section-area-main .pikachu:hover {
  background-image: url("../assets/images/pikachu-background.gif");
  object-fit: fill;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section-area-main .charmander:hover {
  background-image: url("../assets/images/charmander-background.gif");
  object-fit: fill;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section-area-main .squirtle:hover {
  background-image: url("../assets/images/squirtle-background.gif");
  object-fit: fill;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section-area-main .Bubassaur:hover {
  background-image: url("../assets/images/Bubassaur-background.gif");
  object-fit: fill;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section-area-main .title {
  text-shadow: 1px 1px 1px #8a8a8a;
  font-weight: 500;
  margin-top: 5px;
}
.section-area-main .crossed-price {
  text-decoration: line-through;
  color: #666666;
  font-size: 13px;
  font-weight: 900;
}
.section-area-main .price {
  font-weight: 900;
  color: #096e00;
  font-size: 20px;
  text-shadow: 1px 1px 1px #8a8a8a;
  margin-bottom: 12px;
}
.section-area-main .buy-button {
  box-shadow: 0px 10px 14px -7px #3dc21b;
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color: #44c767;
  color: white;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.section-area-main .buy-button:hover {
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color: #5cbf2a;
}
.section-area-main .buy-button:active {
  position: relative;
  top: 1px;
}
.section-area-main .page-selector-area {
  display: flex;
  flex-direction: row;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  margin: auto;
}
.section-area-main .page-selector-area a {
  text-decoration: none;
  color: #424242;
}
.section-area-main .page-selector-button {
  border: 2px solid #9b9494;
  padding: 8px;
  border-radius: 3px;
  font-size: 20px;
  margin-right: 5px;
}
.section-area-main .page-selector-button:hover {
  background-color: #c2c2c2;
}
.section-area-main .page-selector-button:last-child {
  margin-right: 0px;
}
.section-area-main .selected {
  background-color: #9b9494;
  border: 1px solid #000000;
}
.section-area-aside .aside-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-area-aside .aside-area .aside-advertisement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.section-area-aside .aside-area .aside-advertisement img {
  width: 220px;
  position: relative;
  display: flex;
  box-shadow: #9b9494 3px 3px 2px;
}
.section-area-aside .aside-area .aside-advertisement h2 {
  animation: color-change 6s infinite linear;
  position: absolute;
  top: 330px;
  font-weight: 900;
  text-shadow: #ffffff 3px 3px 2px;
  letter-spacing: 1px;
}
.section-area-aside .aside-area .aside-advertisement h3 {
  animation: color-change 6s infinite linear;
  position: absolute;
  top: 350px;
  text-shadow: #ffffff 3px 3px 2px;
  letter-spacing: 1px;
}

@keyframes color-change {
  0% {
    color: #e92b2b;
  }
  33% {
    color: #ffee00;
  }
  66% {
    color: blue;
  }
  100% {
    color: green;
  }
}
.section-area-aside .aside-toppokemons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-area-aside .aside-toppokemons-title {
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 2px solid #9b9494;
  margin-top: 50px;
  padding-right: 90px;
  padding-bottom: 5px;
}
.section-area-aside .aside-toppokemons ol li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.section-area-aside .aside-toppokemons ol li .position {
  font-weight: bold;
  font-size: 40px;
}
.section-area-aside .aside-toppokemons ol li img {
  width: 60px;
  margin-left: 10px;
  margin-left: 5px;
}

/*# sourceMappingURL=style.css.map */
