@use 'variables'
@use 'mixins'

*
    font-family: 'Heebo'
    padding: 0
    margin: 0
    box-sizing: border-box

a
    color: variables.$text-color
    text-decoration: none
    transition: .4s

ul
    list-style: none

.header
    display: flex
    flex-direction: column
    
    &-top
        background-color: variables.$secondary-color

        &-area
            @include mixins.container
            @include mixins.space-between

        &-left
            @include mixins.display-row

            input
                width: 250px
            i 
                margin-left: -39px
        
        &-right
            @include mixins.display-row

    &-bottom
        background-color: variables.$primary-color

        &-area
            @include mixins.container
            @include mixins.space-between
        
        &-left nav ul, &-right
            @include mixins.display-row

        &-left nav li, a
            color: white

.section
    background-color: rgb(122, 122, 122)

    &-area
        display: flex
        flex-direction: row
        background-color: #fff
        @include mixins.container
        padding: 2rem

        &-main
            display: grid
            grid-template-columns: 1fr 1fr 1fr 1fr
            width: 75%
            gap: 20px

            &-card
                border: variables.$border
                @include mixins.display-column
                border-radius: 5px
                padding: 0px
                
            & .pikachu:hover
                @include mixins.bg-img('pikachu-background.gif')

            & .charmander:hover
                @include mixins.bg-img('charmander-background.gif')

            & .squirtle:hover
                @include mixins.bg-img('squirtle-background.gif')

            & .Bubassaur:hover
                @include mixins.bg-img('Bubassaur-background.gif')

            .title
                text-shadow: variables.$shadow
                font-weight: 500
                margin-top: 5px
            
            .crossed-price
                text-decoration: line-through
                color: #666666
                font-size: 13px
                font-weight: 900

            .price
                font-weight: 900
                color: #096e00
                font-size: 20px
                text-shadow: variables.$shadow
                margin-bottom: 12px
            
            .buy-button
                @include mixins.button

                &:hover
                     @include mixins.button-hover
                
                &:active
                    @include mixins.button-active
                

    .aside-advertisement img
        width: 220px
        position: relative
        display: flex
        box-shadow: #9b9494 3px 3px 2px

      